#header {
    background-color: #CFA078;
    padding: 0.5rem 1rem;
}
#header > nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* .menu {
    display: none;
    color: #F6F6F6;
    font-size: 1.25rem;
    font-weight: bold;
    background-color: #62A475;
    padding: 0.25rem;
    border: 3px solid #F6F6F6;
} */
#main {
    padding: 4rem 1rem;
}
/* 갈색 부분 */
.container {
    border: 1px solid black;
    border-radius: 4px;
    background-color: #CFA078;
    position: relative;
    width: 100%;
    height: fit-content;
}
/* 녹색 부분 */
.wrapper {
    width: 100%;
    padding: 1rem;
    padding-bottom: 3rem;
    border: 1px solid black;
    background-color: #62A475;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.login_container > img {
    position: absolute;
}
.login_container > img:nth-child(1) {
    top: -2.5rem; left: 0;
}
.login_container > img:nth-child(2) {
    top: -3.5rem; right: 0;
}
.login_container > img:nth-child(3) {
    top: 180px; left: 2rem;
}
.login_container > img:nth-child(4) {
    bottom: 0.75rem; right: 3rem;
}

/* 포스트잇 */
.postit_box {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    font-weight: bold;
}
.postit_box > div {
    padding: 0.625rem;
    width: 160px;
    border: 1px solid black;
    background-color: #F6F6F6;
    box-shadow: 8px 0px 8px rgba(0, 0, 0, 0.2);
}
.postit_box > div:nth-child(odd) {
    border-right: 0.75rem solid #E7852C;
}
.postit_box > div:nth-child(even) {
    border-right: 0.75rem solid #F4CE7C;
}
.postit_box > div:nth-child(2) {
    align-self: center;
}
.postit_box > div:nth-child(3) {
    align-self: flex-end;
}
/* 로그인 */
.login_box {
    padding: 1rem;
    border: 1px solid black;
    background-color: #F6F6F6;
    position: relative;
}
.login_box > div:nth-child(1),
.login_box > div:nth-child(2) {
    padding-top: 1rem;
    border-bottom: 1px solid #999;
}
.login_box > div:nth-child(2) {
    padding-top: 2rem;
}
.login_box input {
    padding: 0.5rem 0;
}
.login_box > img {
    position: absolute;
    top: -1rem;
    left: 50%; transform: translateX(-50%);
}
/* 로그인 버튼 */
.login_btn_box {
    padding-top: 2rem;
    display: flex;
    justify-content: center;
}
.login_btn_box > button, .logout_btn_box > button {
    background-color: #9FA9D8;
    color: #F6F6F6;
    padding: 0.25rem 2rem;
    border-radius: 10px;
    display: block;
    width: fit-content;
}
/* 회원가입 */
.join_box {
    padding: 1rem 0;
    text-align: center;
    font-size: 0.875rem;
}
.join_box > button {
    color: #E7852C;
}

/* -------------------------------------------------- */

/* 로그인 후 */
.user_container {
    display: none;
}
.user_wrapper {
    gap: 0;
}
.logout_btn_box {
    display: flex;
    justify-content: flex-end;
    padding-bottom: 3.5rem;
}
/* .user_container, .user_wrapper {
    height: 100%;
    overflow-y: auto;
}
.user_container::-webkit-scrollbar,
.user_wrapper::-webkit-scrollbar {
    display: none;
} */
.tool_box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.tool_box i {
    color: #F6F6F6;
    cursor: pointer;
}
.write_search {
    display: flex;
    align-items: center;
    gap: 1rem;
}
.line {
    padding: 0.5rem 0;
}

.check_bar_box {
    display: flex;
    justify-content: space-between;
}
.check_bar_box input {
    display: none;
}
.check_bar_box label {
    color: #F6F6F6;
}
.check_bar_box i {
    color: #C2C2C2;
}
.order_check_box {
    display: flex;
    gap: 0.5rem;
}

/* -------------------------------------------------- */

/* 모달 */
#modal {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0; left: 0;
    background-color: rgba(0, 0, 0, 0.7);
    display: none;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
}
.modal_wrapper {
    gap: 1.5rem;
    padding: 1rem;
}
.modal_wrapper div {
    width: 100%;
    border-bottom: 1px solid #F4CE7C;
}
.modal_wrapper div:first-child, .modal_wrapper div:last-child {
    border: none;
    text-align: right;
}
.x_mark_box {
    font-size: 1.5rem;
    font-weight: bold;
}
.x_mark_box button {
    color: #F6F6F6;
}
.modal_wrapper > .textarea_box {
    border: 1px solid #F4CE7C;
}
.modal_wrapper input, .modal_wrapper textarea {
    padding: 0.5rem;
    color: #F4CE7C;
}
.modal_wrapper input::placeholder, .modal_wrapper textarea::placeholder {
    color: #F4CE7C;
    opacity: 0.7;
}
.modal_wrapper textarea {
    width: 100%;
    resize: none;
}
.modal_wrapper div:last-child > button {
    padding: 0.5rem 1rem;
    background-color: #E7852C;
    border-radius: 6px;
    color: #F6F6F6;
}