.agree_box {
    padding: 1rem 0;
}
#agree_check{
    display: none;
}
.check_icon > i {
    color: #999;
    padding-right: 0.5rem;
}
.check_icon > span {
    color: #F6F6F6;
}

.terms_box {
    border: 1px solid #9CD9AD;
    border-radius: 5px;
}
.terms_box > div {
    overflow-y: scroll;
    height: 160px;
    padding: 1rem;
    color: #F6F6F6;
}
.terms_box > div::-webkit-scrollbar {
    width: 8px;
}
.terms_box > div::-webkit-scrollbar-track {
    background: #9CD9AD; /* 스크롤바 배경 */
    border-radius: 10px;
}
.terms_box > div::-webkit-scrollbar-thumb {
    background: #CFA078; /* 스크롤바 색상 */
    border-radius: 10px;
}

.btn_box > button:disabled {
    cursor: not-allowed; /* 비활성화된 버튼에 대해 커서를 'not-allowed'로 설정 */
}